<div class="items">
<ul class="todo-list">
{{#each this}}
    {{#if isBeingEdited}}
        <li class="todo-update-row" data-id="{{id}}">
			    <div class="column-1"><input name="todoName" type="text" value="{{todoName}}" class="todo-name-input-field"></div>
			    <div class="column-2"><select name="todoStatusCode" class="status-code-options">{{> status_code_options}}</select></div>
			    <div class="column-3 "><input name="targetCompletionDate" class="todo-date-field target-date" type="text" placeholder="mm/dd/yyyy" value="{{formattedTargetCompletionDate}}"></div>
			    <div class="column-4 "><input name="actualCompletionDate" class="todo-date-field actual-date" type="text" placeholder="mm/dd/yyyy" value="{{formattedActualCompletionDate}}"></div>
			    <div class="column-5">
					<button class="btn btn todo-button btn-success todo-save-button todo-enabled">Save</button>
					<span class="btn btn-warning todo-button hide todo-edit-warning">Check Info</span>
					<button class="btn btn-danger todo-button todo-reset-button">Reset</button>
			    </div>
        </li>
    {{else}}
	    <li class="todo-list-row display-row" data-id="{{id}}">
	        <div class="column-1">{{todoName}}</div>
	        <div class="column-2">{{getStatus}}</div>
	        <div class="column-3">{{formattedTargetCompletionDate}}</div>
	        <div class="column-4">{{formattedActualCompletionDate}}&nbsp;</div>
	        <div class="column-5"> 
				<button class="btn btn-primary todo-button todo-edit-button">Edit</button>
				<button class="btn btn-danger todo-button todo-delete-button">Delete</button>
				<button class="btn btn-success todo-button todo-delete-confirmed-button hide">Yes</button>
				<button class="btn btn-danger todo-button todo-delete-not-confirmed-button hide">NO!</button>
	        </div>
	    </li>
    {{/if}}
{{/each}}
</ul>
</div>